<div class="container section-timer">
    <div class="row text-center">

        <h2>Timer TODOs</h2>
        <div class="container clock col-sm-12 col-md-4 align-content-center"
                {{ stimulus_controller('countdown-clock', {
                    pomodoroInMinutes: pomodoro.duration,
                    pomodoroCycles: pomodoro.cycles,
                    pomodoroCyclesToLongBreak: pomodoro.cyclesToLongBreak,
                    pomodoroShortBreak: pomodoro.shortBreak,
                    pomodoroLongBreak: pomodoro.longBreak
                }) }}
        >
            <div class="row">
                <div id="countdown-timer" class="col-sm-12 text-center"
                        {{ stimulus_target('countdown-clock', 'timerDisplay') }}
                ></div>
                <div class="col-sm-12 text-center" id="countdown-controls">
                    <input class="btn btn-primary btn-success"
                           id="countdown-control-start"
                           type="button"
                           value="START"
                            {{ stimulus_action('click->countdown-clock', 'start') }}
                            {{ stimulus_target('countdown-clock', 'countdownStartButton') }}
                    >
                    <input class="btn btn-primary btn-danger"
                           id="countdown-control-stop"
                           type="button"
                           value="STOP"
                            {{ stimulus_action('click->countdown-clock', 'stop') }}
                            {{ stimulus_target('countdown-clock', 'countdownStopButton') }}
                    >
                    <input class="btn btn-primary btn-warning"
                           id="countdown-control-reset"
                           type="button"
                           value="RESET"
                            {{ stimulus_action('click->countdown-clock', 'reset') }}
                            {{ stimulus_target('countdown-clock', 'countdownResetButton') }}
                    >
                </div>
            </div>
        </div>

    </div>
</div>

